<!DOCTYPE html>
<html>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <head>
        <meta charset="UTF-8">
        <style type="text/css">
            a {text-decoration: none}
        </style>
    </head>

    <body>
        <div align="center">
            <fieldset  style="width:300px; ">
                <legend>Life is short, you need Python</legend>

                <table border="1">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Status</th>
                            <th>Operation</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user, status in user_status.items() %}
                            <tr>
                                <td>{{ user }}</td>
                                <td>{{ status }}</td>
                                <td>
                                    <a href="/user/delete/?cuser={{ current_user }}&duser={{ user }}">Delete</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div align="right">
                    <font size="1" color="red">{{ information }}</font>
                    <a href="/signout/?cuser={{ current_user }}" style="font-size:8px;">Sign out</a>
                </div>
            </fieldset>
        </div>
    </body>
</html>