<!DOCTYPE html>
<html>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <head>
        <style type="text/css">
            a {text-decoration: none}
        </style>
    </head>
	<body>
		<div align="center">
			<form method="post">
				<fieldset  style="width:540px;height:480px " >
					<legend>Life is short, you need Python</legend>
						<div align="left">
							The Zen of Python, by Tim Peters</br></br>
							Beautiful is better than ugly.</br>
							Explicit is better than implicit.</br>
							Simple is better than complex.</br>
							Complex is better than complicated.</br>
							Flat is better than nested.</br>
							Sparse is better than dense.</br>
							Readability counts.</br>
							Special cases aren't special enough to break the rules.</br>
							Although practicality beats purity.</br>
							Errors should never pass silently.</br>
							Unless explicitly silenced.</br>
							In the face of ambiguity, refuse the temptation to guess.</br>
							There should be one-- and preferably only one --obvious way to do it.</br>
							Although that way may not be obvious at first unless you're Dutch.</br>
							Now is better than never.</br>
							Although never is often better than *right* now.</br>
							If the implementation is hard to explain, it's a bad idea.</br>
							If the implementation is easy to explain, it may be a good idea.</br>
							Namespaces are one honking great idea -- let's do more of those!</br>
						</div>
						<div align="right">
                    		<a href="http://127.0.0.1:8081/register/" style="font-size:8px;">New user?</a>
                            or
                            <a href="http://127.0.0.1:8081/login/" style="font-size:8px;">Login?</a>
						</div>
				</fieldset>
			</form>
		</div>
	</body>
</html>