
<!DOCTYPE html>
<html>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <body>
        <div align="center">
            <fieldset  style="width:300px; ">
                <legend>Life is short, you need Python</legend>
                <form method="post" id="usrform">
                    Title: <input type="text" name="title">
                    <input type="submit" value="submit">
                </form>
                <br>
                <textarea rows="4" cols="40" name="comment" form="usrform">
Please enter the text here...</textarea>

            </fieldset>
        </div>
    </body>
</html>