<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
</head>
<body>
{% for msg in get_flashed_messages() %}
    <span>{{ msg }}</span>
{% endfor %}
{% if session %}
<!--<h3>欢迎：{{ session }}</h3>-->
<!--<h3>欢迎：{{ session.get('user') }}</h3>-->
<!--<h3>欢迎：{{ session.get('user').get('username') }}</h3>-->
欢迎：{{ session.user.username }},
{% endif %}
<a href="/user/add/">添加用户</a>
<a href="/logout/">退出登录</a>
<table border="1px" width="400">
    <thead>
        <tr>
            <th>用户ID</th>
            <th>用户名</th>
            <th>密码</th>
            <th>年龄</th>
            <th>职务</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    {% for user in user_list %}
        <tr>
            <td>{{user['id']}}</td>
            <td>{{user['username']}}</td>
            <td>******</td>
            <td>{{user['age']}}</td>
            <td>{{user['job']}}</td>
            <td>
                <a href="/user/update/?username={{user['username']}}&uid={{user['id']}}">更新</a>
                <a href="/user/delete/?username={{user['username']}}&uid={{user['id']}}">删除</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</body>
</html>