<!DOCTYPE html>
	<html>
		<head>
			<meta charset="utf-8">
			<title>用户个人信息</title>
		</head>
		<body>
			<a href="/logfile/top/10">查看日志</a>
			<h3>{{Title}}</h3>
			<table border = '1'>
				<thead>
					<tr>
						<th>姓名</th>
						<th>密码</th>
						<th>年龄</th>
						<th>职责</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>{{username}}</th>
						<th>{{passwd}}</th>
						<th>{{age}}</th>
						<th>{{job}}</th>
						<th>
							<a href="/index/">注销</a>
						</th>
					</tr>
				</tbody>
		</body>
	</html>
