{% extends "public/layout.html" %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li><a href="#">用户中心</a></li>
        <li class="active">用户信息</li>
    </ol>
    <h1>
        用户列表
        <small><a href="/user/add/" class="btn btn-sm btn-primary">添加用户</a></small>
    </h1>
{% endblock %}

{% block body %}
<div class="box box-primary  animated fadeInRight">
    <div class="box-body">
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-12">
                {% for msg in get_flashed_messages() %}
                <span>{{ msg }}</span>
                {% endfor %}

                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                           aria-describedby="example1_info">
                        <thead>
                            <tr role="row">

                                <th class="default">用户名</th>
                                <th class="default">年龄</th>
                                <th class="default">职务</th>
                                <th class="default">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for users in user_dict  %}
                                <tr>
                                    <td>{{ users[0] }}</td>
                                    <td>{{ users[1] }}</td>
                                    <td>{{ users[2] }}</td>
                                    <td>
                                        <a class="btn btn-default btn-xs" id="修改密码" href="/user/change/{{ users[0] }}/">修改密码</a>
                                        <a class="btn btn-default btn-xs" href="/user/update/{{ users[0] }}/">更新</a>
                                        <a class="btn btn-default btn-xs" href="/delete/{{ users[0] }}/">删除</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>
{% endblock %}
