{% extends "public/layout.html" %}

{% block content %}
<!-- 内容头部信息（页眉） -->
    <section class="content-header">
    
<ol class="breadcrumb">
    <li><a href="/index/"><i class="fa fa-dashboard"></i> 首页</a></li>
    <li><a href="#">用户中心</a></li>
</ol>
<h1>
    用户信息
    <!--<small>管理你的用户</small>-->
    <small><a href="/user/signup/" class="btn btn-sm btn-primary">新增用户</a></small>
</h1>
<p style="color: red">{{ get_flashed_messages()[0] }}</p>

    </section>

<div class="box box-primary  animated fadeInRight">
    <div class="box-body">
        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-12">
                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid"
                           aria-describedby="example1_info">
                        <thead>
                            <tr role="row">
								<th>ID</th>
								<th>姓名</th>
								<th>密码</th>
								<th>年龄</th>
								<th>职位</th>
								<th>操作</th>
							</tr>
						</thead>
						{% for user in userlist %}
						<tbody>
							<tr>
								<td>{{ user[0] }}</td>
								<td>{{ user[1] }}</td>
								<td>{{ user[2] }}</td>
								<td>{{ user[4] }}</td>
								<td>{{ user[3] }}</td>
								<td>
								<a href="/user/update/?username={{user[1]}}" class="btn btn-sm btn-primary">更新</a>

								<a href="/user/delet/?username={{user[1]}}" class="btn btn-sm btn-primary">删除</a>
								</td>
							</tr>
						</tbody>
						{% endfor %}
					</table>
					</div>
            </div>
        </div>
    </div>
    <!-- /.box-body -->
</div>
{% endblock %}